.card{
    max-width: 600px;
    height: max-content;
    margin: 25px auto;
    border: 1px solid rgb(173, 173,173);
    border-radius: 5px;
}
.card-header{
    display: flex;
}
.card-header > h5{
    margin: 0;
    padding:11px;
}
.card-pic img{
 width: 30px;
 border-radius:30px;
 height: auto;
 object-fit: contain;
 padding: 5px;
}
.card-image img{
    height: auto;
    width: 92%;
}
.card-content{
    text-align: left;
    line-height: 4px;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(173, 173,173);
}
.add-comment{
    display: flex;
    align-items: center;
}
.add-comment input{
    margin: 0;
    outline: none;
    border: none; 
    padding: auto;
}
.comment{
    border: none;
    cursor: pointer;
    background-color: none;
    font-weight: bolder;
    color: rgb(87, 87, 241);
}