
.signUp{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/338/727/578/technology-instagram-social-media-hd-wallpaper-preview.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: aliceblue;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    /* box-shadow: 1px 1px 10px black; */
}
.signUpLogo{
  width: 200px;   
}
.loginPara{
    color: rgba(var(--f52,142,142,142),1);
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 20px 40px;
}
input{
    margin: 5px;
    padding:3px 5px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form > div{
    width: 80%;
    margin: auto;
}
#submit-btn{
    background-color: dodgerblue;
    color: bisque;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-weight: bold;
    padding:5px 10px;
    cursor: pointer;
}
.form2{
    background-color: aliceblue;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 5px;
}